.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 2000;
}

.map-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.center-button {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 119, 182, 0.8); /* Fundo translúcido */
  border: 2px solid #0077b6; /* Borda azul */
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
}

.center-button:hover {
  background-color: rgba(0, 95, 142, 0.9); /* Fundo mais escuro no hover */
  transform: translateY(-50%) scale(1.1);
}

.center-button span {
  font-size: 20px;
}

.bottom-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh; /* Define uma altura fixa para o painel */
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  z-index: 1000;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.destino-button {
  background-color: #e63946;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  width: 90%;
  max-width: 500px;
  transition: background-color 0.3s;
}

.destino-button:hover {
  background-color: #d62828;
}

.search-container {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  padding: 10px;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 10px;
}

.info-panel {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 15px auto;
  max-width: 400px;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: #e63946;
  border: none;
  border-radius: 50%; /* Botão circular */
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: #d62828; /* Tom mais escuro ao passar o mouse */
}

